In [1]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [5]:
x = np.ones((3,3))
x

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

## Q#2: Create y array with elements equal to 0.

In [9]:
y = np.zeros((3,3))
y

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

## Q#3: Add x and y arrays.

In [10]:
z= np.add(x,y)
z

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type)

In [11]:
print(x.ndim)
print(x.shape)
print(x.itemsize)
print(x.dtype)

2
(3, 3)
8
float64

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [52]:
w= np.array([[11,12],[13,14],[15,16]])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [53]:
z= np.array([1,2,3])
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in vertical way then save it in a new variable "newArray".

In [55]:
z= np.column_stack(z)
z
newArray= np.hstack((w,z))
newArray

array([[11, 12,  1],
       [13, 14,  2],
       [15, 16,  3]])

## Q#8: Print all elements of "newArray" using the loop.

In [37]:
for i in newArray:
    print(i)

[11 12  1]
[13 14  2]
[15 16  3]

## Q#9: Reverse the columns and rows of "newArray".

In [38]:
np.column_stack(newArray)

array([[11, 13, 15],
       [12, 14, 16],
       [ 1,  2,  3]])

## Q#10: Decrement all elements of "newArray" with 1.

In [39]:
print(newArray)
newArray -= 1
print(newArray)

[[11 12  1]
 [13 14  2]
 [15 16  3]]
[[10 11  0]
 [12 13  1]
 [14 15  2]]

## Q#11: Find smallest and biggest values in "newArray".

In [43]:
y= newArray.min()
print("The smallest value is: ",y)
z= newArray.max()
print("The largest value is: ",z)

The smallest value is:  0
The largest value is:  15

## Q#12: Print the first row of "newArray" using indexing.

In [44]:
print(newArray[0])

[10 11  0]

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [45]:
print(newArray[1][0])

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using Slicing.

In [47]:
print(newArray[[2]])

SyntaxError: invalid syntax (<ipython-input-47-e33443f58131>, line 1)

## Q#15: Change the shape of "newArray" to (9,1).

In [48]:
newArray.reshape(9,1)

array([[10],
       [11],
       [ 0],
       [12],
       [13],
       [ 1],
       [14],
       [15],
       [ 2]])

## Q#16: Change the shape of "newArray" to (3,2).

In [57]:
newArray.reshape(3,2)

ValueError: cannot reshape array of size 9 into shape (3,2)

newArray.reshape(3,3)

# Well Done 🎉